# Force LF line endings for text files
* text=auto eol=lf

# Needed for setuptools-scm to work with `git archive`-produced sources from GitHub's tar.gz URLs
.git_archival.txt  export-subst

# Blame ignore list entries are expected to always be appended, never edited
.git-blame-ignore-revs  merge=union
