---

ci:
  autoupdate_schedule: quarterly  # low frequency to reduce maintenance noise

repos:
- repo: local
  hooks:
  - id: forbidden-files
    name: Verify that forbidden files are not present in the repo
    entry: >-
      `setup.py` shouldn't be in the root because we fully rely on PEP 621.
      `__init__.py` shouldn't be present to avoid clashes in namespace packages.
      The `tests/__init__.py` module must not exist so `pytest` doesn't add the
      project root to `sys.path` / `$PYTHONPATH`
    files: >-
      (?x)
      ^
      (?:
        setup
        |src(?:
          /[^/]+(?:
            /[^/]+
          )?
        )?/__init__
        |tests/__init__
      )\.py
      $
    language: fail
    types: []
    types_or:
    - file
    - symlink

- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v3.1.0
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/asottile/pyupgrade.git
  rev: v3.17.0
  hooks:
  - id: pyupgrade
    args:
    - --py311-plus

- repo: https://github.com/PyCQA/isort.git
  rev: 5.13.2
  hooks:
  - id: isort
    args:
    - --honor-noqa

- repo: local
  hooks:
  - id: docformatter
    name: docformatter
    description: Formats docstrings to follow PEP 257.
    entry: python -Im docformatter
    additional_dependencies:
    - docformatter == 1.7.5
    args:
    - --in-place
    language: python
    types:
    - python

- repo: https://github.com/hhatto/autopep8.git
  rev: v2.3.1
  hooks:
  - id: autopep8

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.5.5
  hooks:
  - id: remove-tabs

- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.29.3
  hooks:
  - id: check-github-workflows
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-jsonschema
    name: Check GitHub Workflows set timeout-minutes
    args:
    - --builtin-schema
    - github-workflows-require-timeout
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-readthedocs

- repo: https://github.com/andreoliwa/nitpick.git
  rev: v0.35.0
  hooks:
  - id: nitpick-check
    pass_filenames: false

- repo: https://github.com/pre-commit/pygrep-hooks.git
  rev: v1.10.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-mock-methods
  - id: python-no-eval
  - id: python-no-log-warn
  - id: rst-backticks

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v5.0.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  # Non-modifying checks:
  - id: name-tests-test
    files: >-
      ^tests/[^_].*\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  # - id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
  #  args:
  #  - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup.git
  rev: v1.0.1
  hooks:
  - id: rst-linter
    files: >-
      ^README\.rst$

- repo: https://github.com/codespell-project/codespell.git
  rev: v2.3.0
  hooks:
  - id: codespell
    exclude: >-
      ^\.github/\.json-schemas/.*\.json$

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
  - id: yamllint
    types:
    - file
    - yaml
    args:
    - --strict

- repo: https://github.com/openstack/bashate.git
  rev: 2.1.1
  hooks:
  - id: bashate

- repo: https://github.com/shellcheck-py/shellcheck-py.git
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: https://github.com/PyCQA/flake8.git
  rev: 7.1.1
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-annotations ~= 3.1.1
    - flake8-comprehensions ~= 3.15.0
    - flake8-cognitive-complexity ~= 0.1.0
    - flake8-docstrings ~= 1.7.0
    - flake8-length ~= 0.3.1
    - flake8-logging ~= 1.6.0
    - flake8-logging-format ~= 2024.24.12
    - flake8-pytest-style ~= 2.0.0
    - wemake-python-styleguide ~= 0.19.2
    language_version: python3

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.11.2
  hooks:
  - id: mypy
    alias: mypy-py313
    name: MyPy, for Python 3.13
    additional_dependencies:
    - >-  # standard interface declarations for AWX plugins
      awx_plugins.interfaces
      @ git+https://github.com/ansible/awx_plugins.interfaces.git@ad4a965
    - azure-identity  # needed by credentials.azure_kv
    - azure-keyvault  # needed by credentials.azure_kv
    - boto3-stubs  # needed by credentials.awx_secretsmanager
    - hypothesis
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - msrestazure  # needed by credentials.azure_kv
    - pytest
    - pytest-mock
    - python-dsv-sdk >= 1.0.4  # needed by credentials.thycotic_dsv
    - python-tss-sdk >= 1.2.1  # needed by credentials.thycotic_tss
    - types-PyYAML  # needed by credentials.injectors, inventory.plugins
    # The following dependency is used in `credentials.aim`,
    # `credentials.centrify_vault`, `credentials.conjur`
    # and `credentials.hashivault`:
    - types-requests
    args:
    - --python-version=3.13
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.13
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.13
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.13
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.13
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.13
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.13
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.13
    pass_filenames: false
  - id: mypy
    alias: mypy-py312
    name: MyPy, for Python 3.12
    additional_dependencies:
    - >-  # standard interface declarations for AWX plugins
      awx_plugins.interfaces
      @ git+https://github.com/ansible/awx_plugins.interfaces.git@ad4a965
    - azure-identity  # needed by credentials.azure_kv
    - azure-keyvault  # needed by credentials.azure_kv
    - boto3-stubs  # needed by credentials.awx_secretsmanager
    - hypothesis
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - msrestazure  # needed by credentials.azure_kv
    - pytest
    - pytest-mock
    - python-dsv-sdk >= 1.0.4  # needed by credentials.thycotic_dsv
    - python-tss-sdk >= 1.2.1  # needed by credentials.thycotic_tss
    - types-PyYAML  # needed by credentials.injectors, inventory.plugins
    # The following dependency is used in `credentials.aim`,
    # `credentials.centrify_vault`, `credentials.conjur`
    # and `credentials.hashivault`:
    - types-requests
    args:
    - --python-version=3.12
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.12
    pass_filenames: false
  - id: mypy
    alias: mypy-py311
    name: MyPy, for Python 3.11
    additional_dependencies:
    - >-  # standard interface declarations for AWX plugins
      awx_plugins.interfaces
      @ git+https://github.com/ansible/awx_plugins.interfaces.git@ad4a965
    - azure-identity  # needed by credentials.azure_kv
    - azure-keyvault  # needed by credentials.azure_kv
    - boto3-stubs  # needed by credentials.awx_secretsmanager
    - hypothesis
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - msrestazure  # needed by credentials.azure_kv
    - pytest
    - pytest-mock
    - python-dsv-sdk >= 1.0.4  # needed by credentials.thycotic_dsv
    - python-tss-sdk >= 1.2.1  # needed by credentials.thycotic_tss
    - types-PyYAML  # needed by credentials.injectors, inventory.plugins
    # The following dependency is used in `credentials.aim`,
    # `credentials.centrify_vault`, `credentials.conjur`
    # and `credentials.hashivault`:
    - types-requests
    args:
    - --python-version=3.11
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.11
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.11
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.11
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.11
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.11
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.11
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.11
    pass_filenames: false

- repo: https://github.com/PyCQA/pylint.git
  rev: v3.3.1
  hooks:
  - id: pylint
    additional_dependencies:
    - >-  # standard interface declarations for AWX plugins
      awx_plugins.interfaces
      @ git+https://github.com/ansible/awx_plugins.interfaces.git@ad4a965
    - azure-identity  # needed by credentials.azure_kv
    - azure-keyvault  # needed by credentials.azure_kv
    - boto3  # needed by credentials.awx_secretsmanager
    - covdefaults  # needed by pylint-pytest due to pytest-cov loading coverage
    - hypothesis  # needed by pylint-pytest due to pytest-cov loading coverage
    - msrestazure  # needed by credentials.azure_kv
    - pylint-pytest ~= 2.0.0a0
    - pytest-cov  # needed by pylint-pytest since it picks up pytest's args
    - pytest-mock  # needed by pylint-pytest since it picks up pytest's args
    - pytest-xdist  # needed by pylint-pytest since it picks up pytest's args
    - python-dsv-sdk  # needed by credentials.dsv, credentials.thycotic_dsv
    - PyYAML  # needed by credentials.injectors, inventory.plugins
    - Sphinx  # needed by the Sphinx extension stub

...
